
body{
    font-family: 'Raleway', sans-serif;
}

h1{
    display:flex;
    font-size: 96px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding:0px;
    color: #1e1e1e;
    font-weight: lighter;
    font-family: 'Fredericka the Great', serif;
    background: linear-gradient(to top, #FCBF38 65%, transparent 35%);
}
h2{
    font-size: 64px;
    color: #1e1e1e;
    font-weight: lighter;
    font-family: 'Fredericka the Great', serif;
    background: linear-gradient(to top, #FCBF38 65%, transparent 35%);
}

h3{
    font-size: 48px;
    color: #1e1e1e;
    font-weight: lighter;
    font-family: 'Fredericka the Great', serif;
    background: linear-gradient(to top, #FCBF38 65%, transparent 35%);
}

h4{
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Fredericka the Great', serif;
    background: linear-gradient(to top, #FCBF38 65%, transparent 35%);
}

h5{
    font-size: 220px;
    color:#FCE3AD;
    font-weight:800;
    font-family: 'Raleway', sans-serif;
}

h6{
    font-size: 48px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}


.R1 {
    font-size: 34px;
    color: #1e1e1e;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}

.R2 {
    font-size: 34px;
    color: #1e1e1e;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}

.R3 {
    font-size: 34px;
    color: #1e1e1e;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.R4 {
    font-size: 24px;
    color: #1e1e1e;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}

.R5 {
    font-size: 24px;
    color: #1e1e1e;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}

.R6 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.R7 {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.R8 {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}

.R9 {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.R10 {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
.R11 {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.R12 {
    font-size: 16px;
    color: #1e1e1e;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}

p { 
    font-size: 16px;
    color: #1e1e1e;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.white {
    color: #ffffff;
}
.black {
    color:#1e1e1e;
}
.yellow {
    color:#FCBF38;
}

.logo {
    margin-left: 51px;
}
.inline-block > ul, li{
    display:flex;
}

.navigation{
background-color: #1e1e1e;
width: 1440px;
height: 90px;
display:flex;
align-items: center;
justify-content: space-between;
}

.navigation ul {
    flex-direction: row;
    margin-right:31px;
    margin-bottom: 0px;
    margin-top: 0px;
}


li{
    padding:20px;
    color:white;
    font-family: 'raleway', sans-serif;
    font-size: 24px;
    max-width: 93px;
    align-self: center;

}

heroImg {
    display:flex;
    width:1440px;
    height:518px;
    background-image: url("../images/background\ image\ Hero.png");
}

content{
    width:546px;
    height:350px;
    margin-top: 70px;
    margin-left: 166px;
}

.title{
    justify-content: left;
    width:546px;
    margin: 0px;
}
.AK {
    display:flex;
}

.des1{align-items: center;
justify-content: left;
margin-top:10px;
margin-bottom: 10px;}

.des2{
    align-items: flex-end;
    justify-content: left;
    margin-bottom: 10px;
}


button {
    justify-content: left;
    background-color: transparent;
    padding:0px;
    border-width: 0px;
    border-color: transparent;
}

footer{
    display:flex;
    flex-direction: row;
    padding-left:0px;
    padding-right:0px;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: #1e1e1e;
    width:1440px;
    Height:216px;
}
.footerTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 165px;
}
.FT1{
    display:flex;
    flex-direction: row;
    margin:0px;
}
.FT2{
    display:flex;
    flex-direction: row;
    margin:0px;
}
ul{
    display:flex;
    float:right;
    flex-direction: column;
}
.ulBottom{
    margin:0px;
    width:373px;
    padding-left: 295px;
}
.Location{
    align-items: center;
    padding:0px;
    padding-top: 13px;
    padding-bottom: 13px;
    width:373px;
}

.Loctext{
    flex-direction: row;
    margin:0px;
    margin-left:10px;
    width:327px;
    white-space:nowrap;
}
.Mail{
    align-items: center;
    padding:0px;
    padding-top: 13px;
    padding-bottom: 13px;
    width:373px;
}

.Mailtext{
    flex-direction: row;
    margin:0px;
    margin-left:10px;
    width:327px;

}
.Linkedin{
    align-items: center;
    padding:0px;
    padding-top: 13px;
    padding-bottom: 13px;
    width:373px;
}

.Linkedintext{
    display:inline;
    flex-direction: row;
    margin:0px;
    margin-left:10px;
    width:327px;
    white-space:nowrap;

}