
body{
    font-family: 'Raleway', sans-serif;
}

h1{
    display:flex;
    font-size: 96px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding:0px;
    color: #1e1e1e;
    font-weight: lighter;
    font-family: 'Fredericka the Great', serif;
    background: linear-gradient(to top, #FCBF38 65%, transparent 35%);
} 

h2{
    font-size: 64px;
    color: #1e1e1e;
    font-weight: lighter;
    font-family: 'Fredericka the Great', serif;
    background: linear-gradient(to top, #FCBF38 65%, transparent 35%);
}

h3{
    font-size: 48px;
    color: #1e1e1e;
    font-weight: lighter;
    font-family: 'Fredericka the Great', serif;
    background: linear-gradient(to top, #FCBF38 65%, transparent 35%);
}

h4{
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Fredericka the Great', serif;
    background: linear-gradient(to top, #FCBF38 65%, transparent 35%);
}

h5{
    font-size: 220px;
    color:#FCE3AD;
    font-weight:800;
    font-family: 'Raleway', sans-serif;
}

h6{
    font-size: 48px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}


.R1 {
    font-size: 34px;
    color: #1e1e1e;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}

.R2 {
    font-size: 34px;
    color: #1e1e1e;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}

.R3 {
    font-size: 34px;
    color: #1e1e1e;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.R4 {
    font-size: 24px;
    color: #1e1e1e;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}

.R5 {
    font-size: 24px;
    color: #1e1e1e;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}

.R6 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.R7 {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.R8 {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}

.R9 {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.R10 {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
.R11 {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.R12 {
    font-size: 16px;
    color: #1e1e1e;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}

p { font-size: 16px;
    color: #1e1e1e;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.white {
    color: #ffffff;
}
.black {
    color:#1e1e1e;
}
.yellow {
    color:#FCBF38;
}

.inline-block, 
header > ul, li, img {
    display:inline-block;
}

.logo {
    margin-left: 51px;
}
.inline-block, 
footer > div, ul, li, img, p {
    display:inline-block;
}

.navigation{
background-color: #1e1e1e;
width: 1440px;
height: 90px;
}

.navigation img {
    float:left;
}

.navigation  nav {
    float:right;
}

.navigation ul {
    margin-right:31px;
}


li{
    padding:20px;
    color:white;
    font-family: 'raleway', sans-serif;
    font-size: 24px;
    max-width: 93px;
    align-self: center;

}

heroImg {
    display:flex;
    width:1440px;
    height:518px;
    background-image: url("../images/background\ image\ Hero.png");
}

content{
    width:546px;
    height:350px;
    margin-top: 70px;
    margin-left: 166px;
    border: 1px solid red;
}

.title{
    justify-content: left;
    width:546px;
    margin: 0px;
}
.AK {display:flex;}

.des1{align-items: center;
justify-content: left;
margin-top:10px;
margin-bottom: 10px;}

.des2{
    align-items: flex-end;
    justify-content: left;
    margin-bottom: 10px;
}


button {
    justify-content: left;
    background-color: transparent;
    outline-color: transparent;
    stroke: none;
    stroke-width: 0%;
}

footer{
    background-color: #1e1e1e;
    width:1440px;
    Height:216px;
}

ul{
    display:flex;
    float:right;
    flex-direction: column;
}
.Location {
    flex-direction: row;
    align-items: start;
    justify-content: center;
}
.location img{
    justify-content: flex-start;
}
.location p{
    justify-content: flex-end;
}
.Mail {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Linkedin {
    flex-direction: row;
    align-items: end;
    justify-content: center;
}